In [1]:
import numpy as np
import pandas as pd

In [4]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [44]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df.head()
df.tail(3)
df.index
df.columns
df.describe()    #shows a quick statistic summary of your data
df.T
df.sort_index(axis=1, ascending=False) #Sorting by an axis
df.sort_values(by=['B','A']) #Sorting by values


df.iloc[3]
df.iloc[3:5, 0:2]
df.iloc[[1, 2, 4], [0, 2]]
df.iloc[1, 1]
df.iat[1,1]


df[df.A > 0] #boolean index

df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1], 'E'] = 1
df1.dropna(how='any') #To drop any rows that have missing data
df1.fillna(value=5) #Filling missing data

pd.isna(df1)  #To get the boolean mask where values are nan

df.apply(np.cumsum)
df.apply(lambda x: x.max() - x.min())

A    3.656567
B    1.473276
C    3.606159
D    4.899338
dtype: float64

In [17]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] *4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [42]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
df.sub(s, axis='index')

                   A         B         C         D
2013-01-01       NaN       NaN       NaN       NaN
2013-01-02       NaN       NaN       NaN       NaN
2013-01-03 -2.675396 -0.021388 -0.415320 -1.596244
2013-01-04 -3.582264 -4.261955 -4.084088 -2.112725
2013-01-05 -6.424537 -5.161378 -5.514842 -7.085954
2013-01-06       NaN       NaN       NaN       NaN

In [45]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [47]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
pd.merge(left, right, on='key')
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [51]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar',
                         'foo', 'bar', 'foo', 'foo'],
                   'B': ['one', 'one', 'two', 'three',
                         'two', 'two', 'one', 'three'],
                   'C': np.random.randn(8),
                   'D': np.random.randn(8)})
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one    0.231795 -0.422413
    three -1.704443  1.438069
    two   -1.696950  0.174874
foo one    0.830543 -1.868288
    three  0.287812  1.257302
    two   -0.052581  0.518674

In [59]:
a = list(zip(*[['bar', 'bar', 'baz', 'baz','foo', 'foo', 'qux', 'qux'],
      ['one', 'two', 'one', 'two','one', 'two', 'one', 'two']]))
a

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]